<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>  
<body>
	<!-- Header -->	
	<% if (locals.user!=undefined) {%>

		<%- include('./partials/headerLougeado.ejs') %>
	
	<% } else{ %>
	
		<%- include('./partials/header.ejs') %>
		
	<%}%>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= producto.nombreDelProducto %> </h2> 
			<p class="product-detail-description">
				<a href="/producto/productadd"> Editar </a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="images/products/img-home-banner.jpg" alt="fotodelproducto" class="product-detail-img">
					<p class="product-detail-description"> <%= producto.descripcion %> </p>
					<p> Publicado por: <a href="/usuario/profile/<%= producto.usuarios.id %>"><%= producto.usuarios.email %></a> </p>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
						
						<% for (let i = 0; i < producto.comentarios.length; i++) { %>
							
						 <article>
						   
						   <div class="data">
							 <p class="user">
							   <strong>
								 <a href="/usuario/profile/<%= producto.comentarios[i].id %>">
								   <%= producto.comentarios[i].id %>
								 </a>
							   </strong>
							   <br>
							   <%= producto.comentarios[i].comentario %>
							 </p>
						   </div>
						 </article>
						 	
					   <%   } %>
					</section>

					<form class="form" action="/" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
<%- include('./partials/footer') %>  
	<!-- /footer -->

</body>	
</html>