<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>  
<body>
	<!-- Header -->
<%- include('./partials/header') %>  
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= datos.productos[2].nombreDelProducto %> </h2> 
			<p class="product-detail-description">
				<a href="/productadd"> Editar </a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<%= datos.productos[2].imagen %> alt="" class="product-detail-img">
					<p class="product-detail-description"> <%=datos.productos[2].descripcion%> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="<%= datos.productos[0].comentarios[0].imagenDePerfil %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"> <%= datos.productos[0].comentarios[0].nombreDeUsuario %> </a> </strong>
								<%= datos.productos[0].comentarios[0].textoDelComentario %> </p>
							</div>
						</article>
						<article>
							<img src="<%= datos.productos[1].comentarios[0].imagenDePerfil %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">  <%= datos.productos[1].comentarios[0].nombreDeUsuario %> </a> </strong>
									<%= datos.productos[1].comentarios[0].textoDelComentario %></p>
							</div>
						</article>
						<article>
							<img src="<%= datos.productos[2].comentarios[0].imagenDePerfil %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> <%= datos.productos[2].comentarios[0].nombreDeUsuario %> </a> </strong>
									<%= datos.productos[2].comentarios[0].textoDelComentario %>
									</p>
							</div>
						</article>
						<article>
							<img src="<%= datos.productos[3].comentarios[0].imagenDePerfil %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> <%= datos.productos[3].comentarios[0].nombreDeUsuario %> </a> </strong>
									<%= datos.productos[3].comentarios[0].textoDelComentario %></p>
							</div>
						</article>
						<article>
							<img src="<%= datos.productos[4].comentarios[0].imagenDePerfil %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"> <%= datos.productos[4].comentarios[0].nombreDeUsuario %> </a> </strong>
									<%= datos.productos[4].comentarios[0].textoDelComentario %> </p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
<%- include('./partials/footer') %>  
	<!-- /footer -->

</body>	
</html>