<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user!=undefined) {%>

		<%- include('./partials/headerLougeado.ejs') %>
	
	<% } else{ %>
	
		<%- include('./partials/header.ejs') %>
		
	<%}%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados para: "<%= searchTerm %>"</h2>
			</div>
		</div>
	</div>

	<% if(mensaje) { %>
		<div class="col-12">
			<p> <%= mensaje %> </p>
		</div>

	<% } %>


	<!-- Show the "ultimos" products -->
	<% if (productos.length > 0) {  %>
		<ul>
		<% for (let i = 0; i < productos.length; i++) { %>
			<li>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/images/products/<%= productos[i].id %>">
							<figure class="product-box_image">
								<img src="<%= productos[i].imagenDelProducto %>" alt="foto del producto">
							</figure>
							<article class="product-box_data">
								<h2> <%= productos[i].nombreDelProducto %> </h2>
								<p> <%= productos[i].descripcion %> </p>
							</article>
						</a>
						<p> Creado por:
							<a href="/usuario/profile/<%= productos[i].usuarios.id %>">
								<%= productos[i].usuarios.email %>
							</a>
						</p>


					</section>
				</div>
			</li>
		<% } %>
		</ul>
	<% } %>		
		

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>